.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #edf3f7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #edf3f7, #fff);
  background: linear-gradient(to top, #edf3f7, #fff);
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  margin-top: 3rem;
}

@media (max-width: 800px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
