.container {
  max-width: 800px;
  margin: auto;
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 848px) {
  .container {
    padding: 0 24px;
  }
}
