.container {
  max-width: 800px;
  margin: auto;
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 848px) {
  .container {
    padding: 0 24px;
  }
}
