.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #edf3f7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #edf3f7, #fff);
  background: linear-gradient(to top, #edf3f7, #fff);
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.text {
  font-family: "Merriweather", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: 4rem;
  padding-right: 1rem;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  animation: spinner 1.2s linear infinite;
}
.spinner div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.spinner div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.spinner div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.spinner div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.spinner div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.spinner div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.spinner div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.spinner div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.spinner div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes spinner {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media (max-width: 800px) {
  .text {
    font-size: 3rem;
  }
}
